@tailwind base;
@tailwind components;
@tailwind utilities;

.divclaro {
  background-image: linear-gradient(180deg, rgb(209, 222, 32, 0.5) 15%, rgb(111, 126, 255, 0.5) 100%);
  background-attachment: fixed;
}

.divoscuro {
  background-image: linear-gradient(180deg, rgb(211, 211, 36, 0.5) 30%, rgb(39, 40, 0, 0.1) 100%);
  background-attachment: fixed;
}

.claro {
  padding-bottom: 7px;
  background-image: linear-gradient(180deg, rgba(247, 255, 128, 1) 15%, rgb(111, 126, 255) 80%, rgb(0, 0, 0) 100%);
  background-size: cover;
  background-clip: text;
  box-decoration-break: slice;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  background-attachment: fixed;
}
.oscuro {
  padding-bottom: 7px;
  background: linear-gradient(180deg, rgba(137, 137, 0, 1) 30%, rgba(0, 0, 0, 1) 100%);
  background-size: cover;
  background-clip: text;
  box-decoration-break: slice;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  background-attachment: fixed;
}

.lineClaro {
  background-color: #f4d03f;
  background: linear-gradient(90deg, rgba(25, 25, 25, 0) 5%, rgba(244, 208, 63, 1) 50%, rgba(25, 25, 25, 0) 95%);
  width: 100vw;
  height: 2px;
  z-index: 1000;
  filter: drop-shadow(0 5px 5px #ffd323);
}

.lineOscuro {
  background-color: #f4d03f;
  background: linear-gradient(90deg, rgba(25, 25, 25, 0) 5%, rgba(155, 124, 0, 1) 50%, rgba(25, 25, 25, 0) 95%);
  width: 100vw;
  height: 2px;
  z-index: 1000;
  filter: drop-shadow(0 10px 10px #000000);
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: rgb(25, 25, 25);
}

::-webkit-scrollbar-thumb {
  background: #f4d03f;
}

::-webkit-scrollbar-thumb:hover {
  background: #5af7d7;
}

::-moz-selection {
  color: snow;
  background: rgba(244, 208, 63, 0.3);
}

::selection {
  color: snow;
  background: rgba(244, 208, 63, 0.3);
}
