@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg-claro: rgb(209, 222, 32, 0.5); /* div claro primary */
  --color-bg-claroSec: rgb(111, 126, 255, 0.5); /* div claro secondary */
  --color-bg-claroTer: rgb(111, 126, 255, 0.5); /* div claro tertiary */

  --color-bg-oscuro: rgb(211, 211, 36, 0.5); /* div oscuro */
  --color-bg-oscuroSec: rgb(39, 40, 0, 0.1); /* div oscuro */
  --color-bg-oscuroTer: rgb(39, 40, 0, 0.1); /* div tertiary */

  --color-text-claro: rgba(247, 255, 128, 1); /* text claro primary */
  --color-text-claroSec: rgba(111, 126, 255, 1); /* text claro secondary */
  --color-text-claroTer: rgba(0, 0, 0, 1); /* text claro tertiary*/

  --color-text-oscuro: rgb(202, 202, 0); /* text oscuro primary */
  --color-text-oscuroSec: rgb(134, 154, 255); /* text oscuro secondary */
  --color-text-oscuroTer: rgb(204, 205, 255); /* text oscuro tertiary*/

  --color-bord-oscuro: rgb(75, 75, 0); /* text oscuro primary */
  --color-bord-oscuroSec: rgb(0, 21, 57); /* text oscuro secondary */
  --color-bord-oscuroTer: rgb(0, 20, 47); /* text oscuro tertiary*/

  --color-bord-claro: rgb(255, 255, 133); /* text claro primary */
  --color-bord-claroSec: rgb(169, 201, 255); /* text claro secondary */
  --color-bord-claroTer: rgb(152, 197, 255); /* text oscuro tertiary*/

  --color-line: #f4d03f; /* linea */
  --color-lineOscuro: #000000; /* linea oscuro*/

  /* Los menos importantes */
  --color-scrollbar-bg: rgb(25, 25, 25);
  --color-scrollbar-thumb: #f4d03f;
  --color-scrollbar-thumb-hover: #5af7d7;
  --color-selection-text: snow;
  --color-selection-bg: rgba(244, 208, 63, 0.3);
}

.divclaro {
  background-image: linear-gradient(
    180deg,
    var(--color-bg-claro) 15%,
    var(--color-bg-claroSec) 80%,
    var(--color-bg-claroTer) 100%
  );
  background-attachment: fixed;
}

.divoscuro {
  background-image: linear-gradient(
    180deg,
    var(--color-text-oscuro) 15%,
    var(--color-text-oscuroSec) 80%,
    var(--color-text-oscuroTer) 100%
  );
  background-attachment: fixed;
}

.divclaroBorder {
  background-image: linear-gradient(
    180deg,
    var(--color-bord-claro) 15%,
    var(--color-bord-claroSec) 80%,
    var(--color-bord-claroTer) 100%
  );
  background-attachment: fixed;
}

.divoscuroBorder {
  background-image: linear-gradient(
    180deg,
    var(--color-bord-oscuro) 15%,
    var(--color-bord-oscuroSec) 80%,
    var(--color-bord-oscuroTer) 100%
  );
  background-attachment: fixed;
}

.claro {
  padding-bottom: 7px;
  background-image: linear-gradient(
    180deg,
    var(--color-text-claro) 15%,
    var(--color-text-claroSec) 80%,
    var(--color-text-claroTer) 100%
  );
  background-size: cover;
  background-clip: text;
  box-decoration-break: slice;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  background-attachment: fixed;
}

.oscuro {
  padding-bottom: 7px;
  background-image: linear-gradient(
    180deg,
    var(--color-text-oscuro) 15%,
    var(--color-text-oscuroSec) 80%,
    var(--color-text-oscuroTer) 100%
  );
  background-size: cover;
  background-clip: text;
  box-decoration-break: slice;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  background-attachment: fixed;
}

.lineClaro {
  background-color: var(--color-line);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 5%, var(--color-line) 50%, rgba(0, 0, 0, 0) 95%);
  width: 100vw;
  height: 2px;
  z-index: 1000;
  filter: drop-shadow(0 5px 5px #ffd323);
}

.lineOscuro {
  background-color: var(--color-lineOscuro);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 5%, var(--color-lineOscuro) 50%, rgba(0, 0, 0, 0) 95%);
  width: 100vw;
  height: 2px;
  z-index: 1000;
  filter: drop-shadow(0 10px 10px #000000);
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: var(--color-scrollbar-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar-thumb);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-scrollbar-thumb-hover);
}

::-moz-selection {
  color: var(--color-selection-text);
  background: var(--color-selection-bg);
}

::selection {
  color: var(--color-selection-text);
  background: var(--color-selection-bg);
}
