@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg-claro: rgb(209, 222, 32, 0.5); /* div claro primary */
  --color-bg-claroSec: rgb(111, 126, 255, 0.5); /* div claro secondary */
  --color-bg-claroTer: rgb(111, 126, 255, 0.5); /* div claro tertiary */

  --color-bg-oscuro: rgb(211, 211, 36, 0.5); /* div oscuro */
  --color-bg-oscuroSec: rgb(39, 40, 0, 0.1); /* div oscuro */
  --color-bg-oscuroTer: rgb(39, 40, 0, 0.1); /* div tertiary */

  --color-text-claro: rgb(238, 255, 0); /* text claro primary */
  --color-text-claroSec: rgba(247, 255, 128, 1); /* text claro secondary */
  --color-text-claroTer: rgb(63, 143, 255); /* text claro tertiary*/

  --color-text-oscuro: rgb(233, 233, 0); /* text oscuro primary */
  --color-text-oscuroSec: rgb(145, 145, 0); /* text oscuro secondary */
  --color-text-oscuroTer: rgb(0, 42, 255); /* text oscuro tertiary*/

  --color-bord-oscuro: rgb(70, 70, 6); /* text oscuro primary */
  --color-bord-oscuroSec: rgb(0, 30, 80); /* text oscuro secondary */
  --color-bord-oscuroTer: rgb(0, 0, 0); /* text oscuro tertiary*/

  --color-bord-claro: rgb(255, 255, 225); /* text claro primary */
  --color-bord-claroSec: rgb(255, 255, 255); /* text claro secondary */
  --color-bord-claroTer: rgb(220, 240, 255); /* text oscuro tertiary*/

  --color-line: #f4d03f; /* linea */
  --color-lineOscuro: #000000; /* linea oscuro*/

  /* Los menos importantes */
  --color-scrollbar-bg: rgb(25, 25, 25);
  --color-scrollbar-thumb: #f4d03f;
  --color-scrollbar-thumb-hover: #5af7d7;
  --color-selection-text: snow;
  --color-selection-bg: rgba(244, 208, 63, 0.3);
}

.divclaro {
  background-image: linear-gradient(
    180deg,
    var(--color-bg-claro) 15%,
    var(--color-bg-claroSec) 80%,
    var(--color-bg-claroTer) 100%
  );
  background-attachment: fixed;
}

.divoscuro {
  background-image: linear-gradient(
    180deg,
    var(--color-text-oscuro) 15%,
    var(--color-text-oscuroSec) 80%,
    var(--color-text-oscuroTer) 100%
  );
  background-attachment: fixed;
}

.divclaroBorder {
  background-image: linear-gradient(
    180deg,
    var(--color-bord-claro) 15%,
    var(--color-bord-claroSec) 80%,
    var(--color-bord-claroTer) 100%
  );
  background-attachment: fixed;
}

.divoscuroBorder {
  background-image: linear-gradient(
    180deg,
    var(--color-bord-oscuro) 15%,
    var(--color-bord-oscuroSec) 80%,
    var(--color-bord-oscuroTer) 100%
  );
  background-attachment: fixed;
}

.claro {
  padding-bottom: 7px;
  background-image: linear-gradient(
    180deg,
    var(--color-text-claro) 15%,
    var(--color-text-claroSec) 40%,
    var(--color-text-claroTer) 100%
  );
  background-size: cover;
  background-clip: text;
  box-decoration-break: slice;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  background-attachment: fixed;
}

.oscuro {
  padding-bottom: 7px;
  background-image: linear-gradient(
    180deg,
    var(--color-text-oscuro) 5%,
    var(--color-text-oscuroSec) 40%,
    var(--color-text-oscuroTer) 100%
  );
  background-size: cover;
  background-clip: text;
  box-decoration-break: slice;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  background-attachment: fixed;
}

.lineClaro {
  background-color: var(--color-line);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 5%, var(--color-line) 50%, rgba(0, 0, 0, 0) 95%);
  width: 100vw;
  height: 2px;
  z-index: 1000;
  filter: drop-shadow(0 5px 5px #ffd323);
}

.lineOscuro {
  background-color: var(--color-lineOscuro);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 5%, var(--color-lineOscuro) 50%, rgba(0, 0, 0, 0) 95%);
  width: 100vw;
  height: 2px;
  z-index: 1000;
  filter: drop-shadow(0 10px 10px #000000);
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: var(--color-scrollbar-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar-thumb);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-scrollbar-thumb-hover);
}

::-moz-selection {
  color: var(--color-selection-text);
  background: var(--color-selection-bg);
}

::selection {
  color: var(--color-selection-text);
  background: var(--color-selection-bg);
}

/* BOTON DESCARGAR CV */
.animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: rgb(189, 189, 0);
  box-shadow: 0 0 0 2px yellow;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: yellow;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
  rotate: 90deg;
}

.animated-button .arr-2 {
  left: -25%;
  rotate: 90deg;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: yellow;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #212121;
  border-radius: 12px;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {
  fill: #212121;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px yellow;
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
}

.lineNav {
  background: linear-gradient(90deg, rgba(25, 25, 25, 0) 5%, rgba(244, 208, 63, 1) 50%, rgba(25, 25, 25, 0) 95%);
  width: 100vw;
  height: 2px;
  filter: drop-shadow(0 5px 5px #ffd323);
}
